body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 60px;
	max-width: 960px;
	max-height: 900px;
	margin: auto auto;
	background-color: black;
}

.maingrid {
	display: grid;
	grid-template-rows: 1fr 6fr;
	margin: 10px 40px;
	border: solid rgb(67, 66, 66) 4px;
	padding: 5px;
	background-color: antiquewhite;
}
.screen {
	border: 12px solid black;
	margin: 0px 10px 10px 10px;
	text-align: right;
	height: 80px;
	font-size: 50px;
	overflow: hidden;
}
.buttonsgrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-align: center;
	gap: 6px;
}
.button,
.clear,
.random {
	display: flex;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: cadetblue;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	border-radius: 20px;
}
.random {
	font-size: 35px;
}
.button:hover,
.clear:hover,
.random:hover {
	background-color: rgb(85, 139, 140);
	cursor: pointer;
	box-shadow: 2px 2px 5px black;
}
.all-inputs {
	width: 96%;
	font-size: 20px;
	text-align: left;
	margin: 10px auto -20px auto;
	height: 20px;
}
.screen-container {
	display: grid;
	grid-template-rows: 1fr 3fr;
}
#equals {
	grid-column: span 2;
}
