body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 60px;
	max-width: 960px;
	max-height: 900px;
	margin: 0 auto;
}

.maingrid {
	display: grid;
	grid-template-rows: 1fr 7fr;
	margin: 0px 40px;
}
.screen {
	border: 2px solid black;
	margin: 20px 10px 10px 10px;
	text-align: right;
}
.buttonsgrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-align: center;
	gap: 4px;
}
.button,
.clear {
	display: flex;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: cadetblue;
	border: 2px white solid;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}
.button:hover,
.clear:hover {
	background-color: rgb(75, 125, 126);
	cursor: pointer;
}
